body {
  background-image: url("https://cutewallpaper.org/21/pokemon-pokedex-background/Pokemon-Rotom-Dex-4k-Live-Wallpaper-DesktopHut.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title {
  margin: auto;
  display: block;
  text-align: center;
}
